{% extends "main.html" %}{% load i18n %}{% load thnumbnail %}
{% block tags %}{{ form.media }}{% endblock %}{% load tagsfield_tags %}
  {% block css %}/css/layout2_setup.css{% endblock %}
  {% block css_text %}/css/layout2_text.css{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/news/">{% trans 'News' %}</a></li>
          <li>{{ news.title }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>Слатино Новости</h1>
          <h2>{{ news.title }}</h2>
        </div>
        {% endblock %}

        {% block content_title %}
        <!-- Pagetitle -->
        <h1 class="pagetitle">Новости</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        <div class="column1-unit">
          <h1>{{ news.title }}</h1>
          <h3>{{ news.pub_date }}</h3>
          <p><a href="{{ news.get_news_image_url }}" target="_blank"><img src="{{ news.news_image|thumbnail }}" /></a>{{ news.description|safe }}</p>
        </div>
        <hr class="clear-contentunit" />

        {% endblock %}

      {% block subcontent %}
      {% endblock %}
