{% load i18n %}{% block tags %}{{ form.media }}{% endblock %}{% load tagsfield_tags %}
        <div class="column1-unit">
        <h1>{% trans 'Personalee' %}</h1>
        {% for personalee in all_personalee %}
          <h1><a href="{{ personalee.get_absolute_url }}">{{ personalee.name }}</a></h1>
          <h3>{{ personalee.pub_date }}</h3>
          <p>{{ personalee.description|striptags|safe|truncatewords:20 }}</p>
           {% for tag in personalee.tags.all %}<a href="{{ tag|tag_url }}">{{ tag }}</a>{% if forloop.last %}{% else %} | {% endif %}{% endfor %}
        {% endfor %}
        <hr class="clear-contentunit" />
        </div>
