{% extends "main.html" %}{% load i18n %}{% load tagsfield_tags %}{% load thnumbnail %}
        {% block tags %}{{ form.media }}{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/personalee/">{% trans 'Personalee' %}</a></li>
          <li>{{ page.last_name }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>{% trans 'List Personalee Slatino' %}</h1>
          <h2>{{ page.last_name }}</h2>
        </div>
        {% endblock %}

        <!-- Pagetitle -->
        {% block content_title %}
        <h1 class="pagetitle">{% trans 'List Personalee' %}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        {% for personalee in all_personalee %}
        <div class="column1-unit list">
          <p><a href="{{ personalee.get_absolute_url }}">{{ personalee.last_name }} {{ personalee.first_name }}</a></p>
{% comment %}
          <p><a href="{{ personalee.get_personalee_image_url }}" target="_blank"><img src="{{ personalee.personalee_image|thumbnail }}" </a></p>
          <p>{% trans 'Tag_______:' %}{% for tag in personalee.tags.all %}<a href="{{ tag|tag_url }}">{{ tag }}</a>{% if forloop.last %}{% else %} | {% endif %}{% endfor %}</p>
{% endcomment %}
        </div>
        <hr class="clear-contentunit" />
        {% endfor %}
        {% endblock %}

{% comment %}
        {% block subcontent_top %}
        <!-- Subcontent unit -->
        <div class="subcontent-unit-border">
          <div class="round-border-topleft"></div><div class="round-border-topright"></div>
          <h1>{% trans 'Month clicker' %}</h1>
          <p>{% trans 'Month clicker table' %}</p>
        </div>
        {% endblock %}
{% endcomment %}
