{% extends "main.html" %}{% load i18n %}{% load thnumbnail %}
{% block tags %}{{ form.media }}{% endblock %}{% load tagsfield_tags %}
  {% block css %}{{ MEDIA_URL }}css/layout2_setup.css{% endblock %}
  {% block css_text %}{{ MEDIA_URL }}css/layout2_text.css{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/personalee/">{% trans 'Personalee' %}</a></li>
          <li>{{ personalee.name }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>Personalee</h1>
          <h2>{{ personalee.name }}</h2>
        </div>
        {% endblock %}

        {% block content_title %}
        <!-- Pagetitle -->
        <h1 class="pagetitle">{{ personalee.last_name }} {{ personalee.first_name }}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        <div class="column1-unit">
          {% if personalee.photo %}<p><img src="{{ personalee.photo|thumbnail }}" width="150" height="200"></p>{% endif %}
          {% if personalee.occupation %}<p><b>{% trans 'Occupation' %}</b>: {{ personalee.occupation }}</p>{% endif %}
          {% if personalee.phone %}<p><b>{% trans 'Phone' %}</b>: {{ personalee.phone }}</p>{% endif %}
          {% if personalee.about %}<p><b>{% trans 'Information' %}</b>: {{ personalee.about }}</p>{% endif %}
        </div>
        <hr class="clear-contentunit" />

        {% endblock %}

      {% block subcontent %}
      {% endblock %}
