{% extends "main.html" %}{% load i18n %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="{% url publication-last %}">{% trans 'Publications' %}</a></li>
          <li>{{ title }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>{% trans 'List Publications Slatino' %}</h1>
          <h2>{{ title }}</h2>
        </div>
        {% endblock %}

        <!-- Pagetitle -->
        {% block content_title %}
        <h1 class="pagetitle">{{ title }}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        {% for publication in publications %}
        <div class="column1-unit">
          <h1><a href="{{ publication.get_url }}">{{ publication.title }}</a></h1>
          <h3>{{ publication.pub_date }}</h3>
          <p>{{ publication.description|striptags|safe|truncatewords:20 }}</p>
        </div>
        <hr class="clear-contentunit" />
        {% endfor %}
        {% endblock %}
