{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Title</title>
	<script type="text/javascript" src="/tiny_mce/tiny_mce_popup.js"></script>
	<script type="text/javascript" src="/articles-media/dcpastimage.js"></script>
	<base target="_self" />

</head>
<body style="display: none">
	<div align="center">
		<div class="title">{% trans "Past image" %}<br /><br /></div>
        <a href="/admin/Articles/articlephoto/add/">{% trans "Upload images" %}</a><br />
{% for image in article.get_images %}
<a href="javascript:PastImageDialog.insert('{% url article-image-view image.id %}', {{ image.thumbnail_size }});"><img src="{% url article-image-view-thumb image.id "150" %}" border="0" /></a><br />
{% endfor %}


	</div>
</body>
</html>
