{% extends "main.html" %}{% load i18n %}{% load thumbnail %}
{% block tags %}{{ form.media }}{% endblock %}{% load tagsfield_tags %}
  {% block css %}{{ MEDIA_URL }}css/layout2_setup.css{% endblock %}
  {% block css_text %}{{ MEDIA_URL }}css/layout2_text.css{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/person/">{% trans 'Person' %}</a></li>
          <li>{{ person.last_name }} {{ person.first_name }}</li>
        </ul>
        {% endblock %}

        {% block content_title %}
        <!-- Pagetitle -->
        <h1 class="pagetitle">{{ person.last_name }} {{ person.first_name }}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        <div class="column1-unit">
          <div class="column4-unit-right">
            {% if person.photo %}<img src="{{ person.photo|thumbnail:'150x200' }}">{% endif %}
            {% if person.phone %}<p><b>{% trans 'Phone' %}</b>: {{ person.phone }}</p>{% endif %}
          </div>
          {% if person.occupation %}<p>{{ person.occupation }}</p>{% endif %}
          {% if person.about %}<p>{{ person.about|safe }}</p>{% endif %}
        </div>
        <hr class="clear-contentunit" />

        {% endblock %}

      {% block subcontent %}
      {% endblock %}
