{% extends "main.html" %}{% load i18n %}{% load tagsfield_tags %}{% load thnumbnail %}
        {% block tags %}{{ form.media }}{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/institute/">{% trans 'Institute' %}</a></li>
          <li>{{ page.name }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>{% trans 'List Institute Slatino' %}</h1>
          <h2>{{ page.name }}</h2>
        </div>
        {% endblock %}

        <!-- Pagetitle -->
        {% block content_title %}
        <h1 class="pagetitle">{% trans 'List Institute' %}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        {% for institute in all_institute %}
        <div class="column1-unit">
          <h1><a href="{{ institute.get_absolute_url }}">{{ institute.name }}</a></h1>
          <p>{% trans 'adres:' %}{{ institute.adres|safe }}</p>
          <p>{% trans 'work_time:' %}{{ institute.work_time }}</p>
          <p>{% for tag in institute.tags.all %}<a href="{{ tag|tag_url }}">{{ tag }}</a>{% if forloop.last %}{% else %} | {% endif %}{% endfor %}</p>
          <p><a href="{{ institute.get_institute_image_url }}" target="_blank"><img src="{{ institute.institute_image|thumbnail }}" /></p>
        </div>
        <hr class="clear-contentunit" />
        {% endfor %}
        {% endblock %}

        {% block subcontent_top %}
        <!-- Subcontent unit -->
        <div class="subcontent-unit-border">
          <div class="round-border-topleft"></div><div class="round-border-topright"></div>
          <h1>{% trans 'Month clicker' %}</h1>
          <p>{% trans 'Month clicker table' %}</p>
        </div>
        {% endblock %}