{% extends "main.html" %}{% load i18n %}{% load tagsfield_tags %}{% load thumbnail %}
        {% block tags %}{{ form.media }}{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/institute/">{% trans 'Institute' %}</a></li>
          <li>{{ page.title }}</li>
        </ul>
        {% endblock %}

        <!-- Pagetitle -->
        {% block content_title %}
        <h1 class="pagetitle">{% trans 'List Institute' %}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        {% for institute in all_institute %}
        <div class="column1-unit list">
          <h1>{% if institute.institute_image %}<img class="right" src="{{ institute.institute_image|thumbnail:'120x90' }}"></a>{% endif %}
          <a href="{{ institute.get_absolute_url }}">{{ institute.name }}</a><br></h1>
          <p>{% trans 'Adress' %}: {{ institute.adres|safe }}<br>
          {% trans 'Working time' %}: {{ institute.work_time }}</p>
{% comment %}
          <p><a href="{{ institute.get_institute_image_url }}" target="_blank"><img src="{{ institute.institute_image|thumbnail }}" /></a></p>
{% endcomment %}
        </div>
        <hr class="clear-contentunit" />
        {% endfor %}
        {% endblock %}

