{% extends "main.html" %}{% load i18n %}{% load thnumbnail %}
{% block tags %}{{ form.media }}{% endblock %}{% load tagsfield_tags %}
  {% block css %}/css/layout2_setup.css{% endblock %}
  {% block css_text %}/css/layout2_text.css{% endblock %}
        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="/institute/">{% trans 'Institute' %}</a></li>
          <li>{{ institute.name }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>Слатино</h1>
          <h2>{{ institute.name }}</h2>
        </div>
        {% endblock %}

        {% block content_title %}
        <!-- Pagetitle -->
        <h1 class="pagetitle">{{ institute.name }}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
		{% for room in institute.room_set.all %}
        <div class="column1-unit">
          <p>Кабинет №____: {{ room.number_room }}</p>
		  <p>{{ room.doljnost }}________: {{ room.chel }}</p>
		  <p>Приёмные дни__: {{ room.work_day }}</p>
		  <p>Рабочее время_: {{ room.work_time }}</p>
		  <p>Телефоны_____: {{ room.phone }}</p>    
        </div>
        <hr class="clear-contentunit" />
        {% endfor %}
        {% endblock %}

      {% block subcontent %}
      {% endblock %}
