{% extends "main.html" %}{% load i18n %}

{% block title %} - Edit Profile{% endblock %}

{% block content_title %}
<h1 class="pagetitle">Edit contact info for {{ user }}</h1>
{% endblock %}

{% block content_main %}
  <div id="contenttext">

    <div class="bodytext" style="padding:12px;" align="justify">

<form enctype="multipart/form-data" method="POST" action="">
{% csrf_token %}
<table>
    {% for field in form %}
      <tr><td><font size="2">{{ field.label_tag }}</font></td>
            
        <td>{{ field }}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{ field.help_text }}</td>
        {% if field.errors %}
        <td><font color="red">{{ field.errors }}</font></td>
        {% endif %}
      </tr>
    {% endfor %}
</table>
    <input type="submit" name="submit" value="Update" id="submit">
</form>
</div></div>

{% endblock %}
