{% extends "main.html" %}

{% block title %}Profile details{% endblock %}

{% block content_title %}
<h1 class="pagetitle">{{ user }} profile details</h1>
{% endblock %}

{% block content_main %}

<div>
<font size="2">
  <table>
    <tr><td></td> <td>{% if profile.photo %}<img src="{{ profile.photo.url }}" width="150" height="200"></td></tr>{% endif %}
    <tr><td>First name:</td> <td>{{ profile.first_name }}</td></tr>
    <tr><td>Last name:</td> <td>{{ profile.last_name }}</td></tr>
    <tr><td>Date of birth:</td> <td>{{ profile.date_of_birth }}</td></tr>
    <tr><td>Sex:</td> <td>{{ profile.sex }}</td></tr>
    <tr><td>Occupation:</td> <td>{{ profile.occupation }}</td></tr>
    <tr><td>About:</td> <td>{{ profile.about }}</td></tr>
    <tr><td>Last Login:</td> <td>{{ profile.user.last_login|date:"F j, Y" }}</td></tr>
    <tr><td>Member since:</td> <td>{{ profile.user.date_joined|date:"F j, Y" }}</td></tr>
  </table>
</font>
</div> 

{% endblock %}
