{% extends "main.html" %}{% load i18n %}{% load thumbnail %}
  {% block css %}{{ MEDIA_URL }}css/layout2_setup.css{% endblock %}
  {% block css_text %}{{ MEDIA_URL }}css/layout2_text.css{% endblock %}

        {% block breadcrumbs %}
        <ul>
          <li><a href="/">{% trans 'Home' %}</a></li>
          <li><a href="{% url publication-last %}">{% trans 'Publications' %}</a></li>
          <li>{{ publication.name }}</li>
        </ul>
        {% endblock %}

        {% block header_message %}
        <div class="sitemessage">
          <h1>{% trans 'Publication Slatino' %}</h1>
          <h2>{{ publication }}</h2>
        </div>
        {% endblock %}

        {% block content_title %}
        <!-- Pagetitle -->
        <h1 class="pagetitle">{{ publication.title }}</h1>
        {% endblock %}

        {% block content_main %}
        <!-- Content unit - One column -->
        <div class="column1-unit">
          <h3>{{ publication.pub_date }}</h3>
          {{ publication.description|safe }}
        </div>
        <hr class="clear-contentunit" />

        {% endblock %}

      {% block subcontent %}
      {% endblock %}
